* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

.mainHeader {
    width: 100%;
    background-color: #e76c1f;
    height: 80px;

    .mainHeaderMenu {
        position: fixed;
        z-index: 3;
        background-color: #e76c1f;
        max-width: 1440px;
        width: 100%;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .appIcon {
            width: 90px;
            height: 38px;
        }

        .burgerMenuIcon {
            display: none;
            width: 38px;
            height: 38px;
        }
    }
    .mainHeaderImage {
        padding: 20px;
        .headerImage {
            margin-top: 90px;
            width: 100%;
            max-height: 400px;
            /* height: 20%; */
            object-fit: cover;

            /* max-width: 550px; */
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 20px;
        }

        .headerIcon {
            position: absolute;
            top: 95%;
            left: 50%;
            /* z-index: 3; */
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
        }
    }
    .mainHeaderHeadline {
        margin-top: 60px;
        height: 100px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h1 {
            font-family: Arial;
        }
        img {
            height: 30px;
        }
    }
    .mainHeaderSubline {
        text-align: center;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
}

body {
    color: rgb(136, 3, 3);
    min-height: 100dvh;
}

.content {
    margin-top: 650px;
}

.articleCategoryHeader {
    height: 80px;

    /* margin-bottom: 60px; */
    width: 100%;
    background-color: #f57c1f;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .articleCategoryHeaderContent {
        position: absolute;
        bottom: 20px;

        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
            width: 60px;
            height: 60px;
        }
    }

    /* .articleCategoryHeaderContent {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;

        img {
            
        }
    } */
}

.articles {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;

    .articleCard {
        background-color: #fdeadc;
        margin-top: 10px;
        /* margin-left: 50px; */
        /* width: 50%; */
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        /* background-color: #f57c1f; */
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-between;

        img {
            width: 100%;
            height: 90px;
            margin-top: 10px;
            /* margin-right: 20px; */
            border-radius: 20px;
            object-fit: cover;
        }

        .articleDescription {
            /* height: 120px; */
            display: flex;
            flex-direction: column;
            width: 100%;
            /* align-items: start;
            justify-content: flex-start; */
            margin-top: 10px;

            /* p {
                max-width: 80%;
            } */
        }

        .articlePriceAndButton {
            width: 100%;
            /* width: 20%; */
            /* height: 120px; */
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }
}

.mainFooter {
    background-color: #e76c1f;
    height: 200px;

    .mainFooterContent {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;

        .imprint {
            order: 1;
        }

        .cookies {
            order: 2;
        }

        .copyright {
            order: 3;
        }

        span {
            color: white;
        }
    }

    .footerMobileNavigation {
        background-color: #363534;
        height: 80px;
        min-width: 300px;
        width: 100%;
        display: flex; /* show only on mobile */
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;

        .footerMobileNavBar {
            max-width: 320px;
            width: 100%;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                list-style-type: none;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

/* region mediascreen */

@media screen and (min-width: 375px) {
    .content {
        margin-top: 720px;
    }

    .articles {
        .articleCard {
            img {
                height: 150px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .articles {
        .articleCard {
            img {
                height: 200px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .articles {
        .articleCard {
            width: 100%;
            height: 140px;
            flex-direction: row;
            gap: 20px;
            align-items: flex-start;
            padding-bottom: 10px;

            img {
                width: 25%;
                height: 120px;
            }
            .articleDescription {
                width: 50%;
                justify-content: center;
            }

            .articlePriceAndButton {
                width: 25%;
                height: 100%;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .mainHeader {
        background-color: #e76c1f;
        height: 128px;

        .mainHeaderMenu {
            position: relative;
            height: 128px;

            background-color: #e76c1f;
            max-width: 1440px;
            width: 100%;

            .burgerMenuIcon {
                display: flex;
            }
        }
        .mainHeaderImage {
            max-width: 1440px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            .headerImage {
                border-radius: 0;
                margin-top: 0;
            }
            .headerIcon {
                width: 200px;
                height: 200px;
            }
        }

        .mainHeaderHeadline {
            flex-direction: row;
            margin-top: 80px;
        }
    }

    .content {
        margin-top: 700px;
    }

    .articleCategoryHeader {
        height: 60px;
        .articleCategoryHeaderContent {
            width: 100%;
            max-width: 1440px;
            height: 30px;
            flex-direction: row;
            justify-content: flex-start;
            /* margin-left: 15%; */
            padding-left: 155px;

            gap: 20px;

            img {
                width: 90px;
                height: 90px;
            }
        }
    }
    .articles {
        .articleCard {
            width: 60%;
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 8%;
        }
    }
    .mainFooter {
        height: 80px;
        .footerMobileNavigation {
            display: none;
        }
    }
}
